#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  font-size: 200%;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  z-index: 200;
  line-height: 40 px; }

#nav-bar textarea {
  width: 100px;
  height: 35px; }

#nav-bar .header {
  position: relative;
  margin-left: 10px;
  line-height: 80px;
  text-align: center;
  float: left; }

#nav-bar .logo {
  float: left; }

#nav-bar #compose {
  float: right;
  padding: 5px;
  font-size: 70%; }

#nav-bar #logout-btn {
  float: right;
  padding: 5px;
  font-size: 50%;
  height: 30px; }

#nav-bar #signin-form {
  float: right;
  padding: 5px;
  font-size: 50%;
  height: 30px; }

@media (max-width: 455px) {
  #nav-bar {
    padding-left: 1em;
    padding-right: 1em; }
  #nav-bar .header {
    font-size: small; }
  #nav-bar #compose {
    font-size: small; } }

@media (max-width: 300px) {
  #nav-bar .header {
    display: none; } }
