#feed-container {
    position:relative;
    top: 0;
}

.tweet-container {
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    background-color: white;
    margin-bottom: 1em;
    margin-right: 2em;
    margin-left: 2em;
    border-radius: 10px;
    overflow: hidden;
}
@media (max-width:455px){
    .tweet-container {
        margin-right: 0.1em;
        margin-left: 0.1em;
    }
}
@media (max-width:300px){
    .tweet-container {
        height: 100px;
    }
}

header.tweet {
    position: relative;
    padding: 5px;
    background-color:#eee;
    width: 100%;
    font-size: 170%;
    
    div.user{
        position: relative;
        display: inline;
        top: -25px;
    }
    div.handle {
        position: absolute;
        top: 5px;
        right: 5px;
        float: right;
        font-size: 50%;
    }
    @media (max-width:300px){
        height: 30px;

        div.user{
            display: none;
        }
    }
}

article.tweet {
    position:relative;
    padding: 20px;
}

footer.tweet {
    position: relative;
    padding: 5px;
    bottom: -20px;
    line-height: 10px;
    right: 0;
    font-size: 80%;
}

@media (max-width:300px){
    article.tweet{
        font-size: small;
        padding: 5px;
    }
    footer.tweet {
        padding: 2px;
        font-size:40%;
    }
}
.tweet { 

    word-wrap: break-word;
    
    .interactOptions {
        position: relative;
        bottom: 15px;
        float: right;
        opacity: 0;
        width: 90px; 
        height: 40px;
    }
    @media (max-width:300px){
        .interactOptions {
            width: 45px;
            height: 20px;
        }
    }
    .avatar-pic {
        position: relative;
        width: 50px;
        height: 50px;
        padding: 2px;
        bottom: 0px;
        border-radius: 5px;
    }
    @media (max-width:300px){
        height: 10px;

        .avatar-pic{
            height: 20px;
            width: 20px;
        }
    }
    .likeState {
        color: black;
        float: right;
        font-size: 100%;
    }
    .likeState.liked {
        color: rgb(20, 182, 33);
        font-weight: bold;
        font-size: 100%;
    }
    .liveLikes {
        display: inline;
    }
}

/* hover */

.tweet-container:hover {
    border-color: black;

    .tweet .interactOptions {
        opacity: 1;
    }

        
    > header.tweet {
        background-color: lightslategray;
    }
}

